extends ../layout.pug

block head
    title Contact page 
block content
    h1 Contact Us 
        form(action="POST") 
            fieldset
            label E-mail
            input(type="email")
                fieldset
                    label Password
                    input (type="Password")