Doctype html

html

 include head.pug
body


  include includes/value.pug
  include includes/care.pug 
  include includes/number.pug
  include includes/customer.pug 
  include includes/ask.pug 
  include includes/footer.pug


  block content

  include includes/footer.pug

block script