section.ask
      .container
        .row.center-xs
          .col-xs-12
            h3.title_ask Confier son logement n’est pas anodin, c’est normal d’avoir des questions :
          .col-xs-12
            .row
              .col-md-6
                h4 Quels sont vos tarifs ?
              .col-md-6
                h4 Quelle est la législation Airbnb en France
              .col-md-6
                h4 Comment calculez-vous mon revenu ?
              .col-md-6
                h4 Sélectionnez-vous les voyageurs ?
              .col-md-6
                h4 Comments se passe la gestion des clés ?
              .col-md-6
                h4 Est-ce que je suis couvert(e) par des assurances ?
          .col-xs-12
            p
              | D'autres questions ? Plus de réponse par 
              a(href='#') ici
            p
              | D'autres questions ? Plus de réponse par ici Vous pouvez aussi nous contacter directement par mail à 
              a(href='#') client@hostnfly.com
            p
              | ou nous appeler au 
              a(href='#') 01 86 76 12 82
