section.care
      .container
        .row.right-lg.right-md.right-xs
          .col-xs-12.col-lg-6.col-lg-offset-6
            h2.care_title Notre conciergerie s’occupe de tout
            h4.care_title_2 La gestion de votre location saisonnière clé en main :
        .row.center-xs.care_container
          .col-xs-12.col-md-10.col-lg-2
            div
              img(src='styles/components/icon-featureetoile.svg')
            p.care_text
              | Création et optimisation de votre annonce Airbnb
          .col-xs-12.col-md-6.col-lg-2
            div
              img(src='styles/components/icon-featureetoile.svg')
            p.care_text
              | Remises des clés
          .col-xs-12.col-md-6.col-lg-2
            div
              img(src='styles/components/icon-featureetoile.svg')
            p.care_text
              | Draps et linge de maisons fournis
          .col-xs-12.col-md-6.col-lg-2
            div
              img(src='styles/components/icon-featureetoile.svg')
            p
              | Sélection des voyageurs et assistants 7j/7
          .col-xs-12.col-md-6.col-lg-2
            div
              img(src='styles/components/icon-featureetoile.svg')
            p.care_text
              | Ménage complet et maintenance