section.footer
      .container
        .row.center-xs.end-md.end-lg
          .col-xs-12.col-md-3.right-lg.right-md.right-xs.col-lg-offset-6.img_container
            img.footer_img(src='./images/facebook.png', alt='facebook')
            img.footer_img(src='./images/instagram.png', alt='facebook')
            img.footer_img(src='./images/pinterest.png', alt='facebook')
            img.footer_img(src='./images/twitter.png', alt='facebook')
        .row
          .col-lg-6.col-md-6.col-xs-12
            img.footer_logo(src='./images/logo.png', alt='logo')
            p.footer_text
              | HostnFly est bien plus qu’une simple conciergerie Airbnb. HostnFly offre une gestion clé en main de vos locations saisonnières
              | en s’occupant de toute la logistique liée à la location Airbnb (ménage, accueil des voyageurs, maintenance…) et en maximisant
              | vos revenus. Nous sommes la conciergerie Airbnb numéro 1 à Paris, Lyon et Marseille et avons permis à plus de 2000 personnes
              | de devenir hôte Airbnb et de partir plus loin, plus longtemps, plus souvent.
          .col-lg-2.col-md-2.col-xs-12
            p.footer_subtitle Tout savoir sur Hostnfly
            a.footer_text(href='#')
              | Qui sommes-nous ?
              br
              | Nous rejoindre
              br
              | Confidentialité
              br
              | Mentions légales
              br
              | Conditions d’utilisation
          .col-lg-2.col-md-2.col-xs-12
            p.footer_subtitle Besoin de plus d’infos ?
            a.footer_text(href='#')
              | Foire aux questions
              br
              | Mieux connaître notre service
              br
              | Blog
              br
              | Presse
          .col-lg-2.col-md-2.col-xs-12
            p.footer_subtitle On reste en contact ?
            a.footer_text(href='#')
              span.yellow
                | client@hostnfly.com
                br
                | 01 86 76 12 82
              br
              | Ou passez nous voir :
              br
              | 24 rue de Clichy, 75009 Paris
