section.number
      .container
        .row.center-xs
          .col-xs-12.col-xs-12.middle-xs
            h2.title_number HostnFly, 1er service de conciergerie Airbnb en France
        .row.between-xs
          .col-xs-12.col-md-3
            .row.center-xs.middle-xs.card_number
              .col-xs-12
                .card_number1
                  p
                    span 2 000
                  p Appartements en gestion
                  p
          .col-xs-12.col-md-3
            .row.middle-xs.center-xs.card_number
              .col-xs-12
                .card_number2
                  p
                    span 70 000
                  p Voyageurs accueillis
                  p
          .col-xs-12.col-md-3
            .row.middle-xs.center-xs.card_number
              .col-xs-12
                .card_number3
                  p
                    span 10 M€
                  p De revenus gagnés par nos clients