section.values
      .container
        .row
          .col-xs-12.col-md-6.col-lg-4
            .col-xs-12.col-lg-4
              img(src='./images/home.png', alt='')
            h1.values_title  Service clé en main
            p.values_text
              | On s'occupe de tout en prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, ect
            p.values_text_2  De Nombreuses heures de gestion gagnées
          .col-xs-12.col-md-6.col-lg-4
            .col-xs-12.col-lg-4
              img(src='./images/euro.png', alt='')
            h1.values_title  Offres de revenu
            p.values_text
              | Commission à partir de 15% ou revenu garanti sur toute la durée de location : à vous de choisir
            p.values_text_2  30% de revenu en plus en moyenne qu'une location Airbnb
          .col-xs-12.col-md-6.col-lg-4
            .col-xs-12.col-lg-4
              img(src='./images/bag2.png', alt='')
            h1.values_title Flexibilité maximale
            p.values_text
              | à partir de 2 nuits d'absence, nous prenons en charge tous types de logement, que vous soyez locataire ou propriétaire
            p.values_text_2  Gagnez de l'argent, même sur un week-end
